@charset "utf-8";


/* 
           VARIÀVEIS

           #c5ebd6
           #83e1ad
           #3ddc84
           #2fa866
           #1a5c37
           #063d1e



:root {

  --cor01:#c5ebd6;
  --cor02:#83e1ad;
  --cor03:#3ddc84;
  --cor04:#2fa866;
  --cor05:#1a5c37;
  --cor06:#063d1e;

--font-padrao: arial, helvetica,sans-serif;
--font-destaque: "bebas Neue" , cursive;
--font-android: 'android', cursive;

  
}
*/
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;}
    

@font-face {
  font-family: "titulo";
  src: url(../fontes/BebasNeue-Regular.ttf)
  format("truetype");
}


@font-face {
  font-family: "robo";
  src: url(../fontes/idroid.otf)
  format("opentype");
}


 body{
   background-color: #ebe5c5;
   line-height: 2em;
   font-weight: normal;
 }  
     
     
header{
  background-image: linear-gradient(to bottom, #2fa866, #06321e );
  min-height: 150px;
  }
  

   header > h1 {
      color: white;
      font-family: 'titulo' ; 
      font-size: 48px;
      text-align: center;
      font-weight: normal;
      padding: 20px ;
      
      
      
         
    }
    p#descricao {
    color: white;
    text-align: center;
    padding: 10px 120px 30px 120px;
    
    font-size: 19px;
    margin: 0px auto 0px auto;
    font-weight: normal;
  }

  nav { 
   
background-color:#06321e;
padding: 10px 0px;
box-shadow: 0px 15px 7px rgb(0 0 0 / 19%);


  }
  nav > a {
    color: #83e1ad;
    padding:  3px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    
    
  }
nav > a:hover {
  background-color: #83e1ad;
  color: black;
}

 main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 42%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
 }
main  img 
{
  width: 100%;
}

main img.pequena 
{
  width: 350px;
  display: block;
  margin: auto;

}


article > h1 {
  font-family:'robo';
  font-size: 28px;
  color: #063d1e;
  font-weight: normal;
  padding: 10px; 
  background-color: #83e1ad;
  background-image: linear-gradient(to right, #83e1ad, #effbf4);
}

h2 {
  font-family:'robo';
  color: #063d1e;
  background-color:#83e1ad;
background-image:linear-gradient(to right, #83e1ad, #effbf4)
}


a {
  color: #06321e;
  text-decoration: none;
  font-weight: bold;
  padding: 2px;
}
a.mao::after{
  content: "☜";
}

 a.mao {
  background-color:#83e1ad;
  background-image:linear-gradient(to right, #83e1ad, #c2f0d7,)
 }


 
 div.video{
   background-color:#06321e;
   margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
 }

 div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
 aside {
   background-color: #83e1ad;
   border-radius: 10px;
 }
 aside > h3{
   background-color: #063d1e;
   color: white;
   padding:10px;
   border-radius: 10px 10px 0px 0px;
 }
 ul {
   columns: 2;
   padding: 30px 50px;
 }
 li::marker {
   content: "✔";
   
 }
 strong {
   color: #06321e;
 }
 footer {
   background-color: #06321e;

}
footer  > p {
color: white;
margin:2px auto 1px auto;
margin: auto;
text-align: center;
padding: 5px;
}